:root{
    --main-color: #ff0000;
    --fade-color: hsla(0, 100%, 50%, 0.2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: "TechFont", sans-serif;
    background-color: #222;
    color: var(--main-color);
    display: grid;
    place-content: center;
    height: 100vh;
}
.container{
  /* width: 600px; */
  background-color: #111;
  border-radius: 5px;
  padding: 3rem calc(2vw + 15px);
}
.time-container{
  display: flex;
  justify-content: space-evenly;
  margin-block-end: 2rem;
}
.time-container > :not(.amORpm) {
  font-size: clamp(50px, 8vw, 100px); 
}
.time-container .fade{
  color: var(--fade-color);
}
.amORpm{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--fade-color);
}
.days-container{
  display: flex;
  justify-content: space-evenly;
  gap: calc(2vw + 15px);
  font-size: clamp(14px, 4vw, 32px);
  color: var(--fade-color);
}
@font-face {
  font-family: "TechFont";
  src: url("font/Technology.ttf");
}