:root{
    --main-color: hwb(0 0% 0%);
    --fade-color: hwb(0 0% 0% 10%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
    font-family: "TechFont", sans-serif;
}
@font-face {
  font-family: "TechFont";
  src: url("font/Technology.ttf");
}